<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Positive Tests">
    
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter2"/>
    </listeners>

    <!--Before test-->
    <test name="Login">

        <groups>
            <run>
                <include name="login"/>
            </run>
        </groups>

        <classes>
            <class name="TaskOne"/>
            <class name="TaskTwo"/>
            <class name="TaskThree"/>
        </classes>

    </test>

    <!--Before test-->
    <test name="Sign Up">
        <groups>
            <!--FILL ME UP-->
        </groups>

        <classes>
            <!--FILL ME UP-->
        </classes>

    </test>
</suite>