<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="">

    <test name="">
        <groups>
            <!--FILL ME UP-->
        </groups>

        <classes>
            <!--FILL ME UP-->
        </classes>

    </test>

    <test name="">
        <groups>
            <!--FILL ME UP-->
        </groups>

        <classes>
            <!--FILL ME UP-->
        </classes>

    </test>
</suite>